<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Student | Registration</title>
  <!-- plugins:css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='newlogin/vendors/feather/feather.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='newlogin/vendors/mdi/css/materialdesignicons.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='newlogin/vendors/ti-icons/css/themify-icons.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='newlogin/vendors/typicons/typicons.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='newlogin/vendors/simple-line-icons/css/simple-line-icons.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='newlogin/vendors/css/vendor.bundle.base.css') }}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='newlogin/css/vertical-layout-light/style.css') }}">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper">
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Registration Form</h4>
                    <form class="form-sample" action="/signup" method="post">
                      <p class="card-description">
                        Personal info
                      </p>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label for="firstname" class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" placeholder="Samuel" id="firstname" name="firstname" required/>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label for="lastname" class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" placeholder="Monteiro" id="lastname" name="lastname" required/>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label for="username" class="col-sm-3 col-form-label">Username</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" placeholder="samuelmonteiro" id="username" name="username" required/>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label for="dateofbirth" class="col-sm-3 col-form-label">Date of Birth</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" placeholder="dd/mm/yyyy" id="dateofbirth" name="dateofbirth" required/>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label for="emailid" class="col-sm-3 col-form-label">Email id</label>
                            <div class="col-sm-9">
                              <input class="form-control" placeholder="samuel@gmail.com" id="emailid" name="emailid" required/>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="card-description">
                        College Information
                      </p>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label for="studentidno" class="col-sm-3 col-form-label">Student ID No.</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" placeholder="20182XXXX" id="studentidno" name="studentidno" required/>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label for="rollno" class="col-sm-3 col-form-label">Rollno</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" placeholder="01" id="rollno" name="rollno" required/>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label for="studentyear" class="col-sm-3 col-form-label">Year</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" placeholder="FE/SE/TY/BE" id="studentyear" name="studentyear" required/>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label for="studentstream" class="col-sm-3 col-form-label">Stream</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" placeholder="COMPS/EXTC/IT/MECh" id="studentclass" name="studentclass" required/>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label for="password" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                              <input type="password" class="form-control" placeholder="XXXXX" id="password" name="password" required/>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="mt-3">
                        <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit">REGISTER</button>
                      </div>
                      <div class="text-center mt-4 fw-light">
                        Already have an account? <a href="/signin" class="text-primary">Login</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script type="text/javascript" src="{{url_for('static', filename='newlogin/vendors/js/vendor.bundle.base.js')}}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script type="text/javascript" src="{{url_for('static', filename='newlogin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js')}}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script type="text/javascript" src="{{url_for('static', filename='newlogin/js/off-canvas.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='newlogin/js/hoverable-collapse.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='newlogin/js/template.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='newlogin/js/settings.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='newlogin/js/todolist.js')}}"></script>
  <!-- endinject -->
</body>

</html>
